.home {
  padding-top: 10%;
  background: #000000;
  background: -webkit-linear-gradient(to bottom, #434343, #000000);
  background: linear-gradient(to top, #434343, #000000);
}

.about {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 6% 20%;

  h1 {
    color: #fff;
    font-size: 130px;
    margin-left: -8px;

    i {
      color: #cec4c4;
      margin: 0 3%;
      font-size: 50px;
    }

    i:hover {
      color: #6f00ff;
    }
  }

  h2 {
    color: #999696;
  }

  p {
    margin-top: 2%;
    font-size: 15px;
    color: #fff;
  }

  button {
    margin: 0 3%;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

.projects {
  margin: 5% 10%;
  text-align: center;
  padding-top: 5%;

  h1 {
    font-size: 50px;
    color: #fff;
  }
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5%;
}

.projectsInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #202024;
  border: 2px solid #353333;
  height: 600px;
  width: 90%;
  border-radius: 15px;
  margin: 5%;
  cursor: pointer;

  img {
    width: 100%;
    border-radius: 15px 15px 0 0;
    height: 330px;
  }

  h1 {
    font-size: 25px;
    margin-bottom: 2%;
  }

  h2 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 2%;
  }

  h3 {
    color: #6f00ff;
    font-size: 15px;
  }

  p {
    color: #999696;
    margin: 3% 0;
  }

  section {
    padding: 0 5%;
  }
}

.knowledge {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20%;

  h1 {
    color: #d1cece;
    font-size: 50px;
    padding-bottom: 5%;
  }

  section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    i {
      font-size: 150px;
      padding: 15% 50px;
      color: #6f00ff;
    }
  }
}

@media (max-width: 1470px) {
  .projectsInfo {
    height: 520px;

    img {
      height: 280px;
    }

    h1 {
      font-size: 20px;
    }

    h2 {
      font-size: 15px;
    }

    h3 {
      color: #6f00ff;
    }
  }
}

@media (max-width: 1200px) {
  .projectsInfo {
    img {
      height: 240px;
    }
  }
}

@media (max-width: 1100px) {
  .projects {
    margin: 0 23%;
  }
  .card {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 950px) {
  .about {
    margin: 10% 10% 10% 10%;

    h1 {
      font-size: 100px;
      margin-left: 0px;
    }

    p {
      font-size: 13px;
    }
  }

  .projects {
    margin: 0 18%;
  }

  .knowledge {
    section {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

@media (max-width: 700px) {
  .about {
    margin: 70% 10% 10% 10%;

    h1 {
      font-size: 55px;
      margin-left: 0px;
    }

    p {
      font-size: 13px;
    }
  }

  .projects {
    margin: 0 10%;

    h1 {
      font-size: 40px;
    }
  }

  .card {
    padding: 0;
  }

  .projectsInfo {
    height: 500px;

    img {
      height: 240px;
    }

    h1 {
      font-size: 25px;
      margin-bottom: 2%;
    }

    h2 {
      font-size: 15px;
    }
  }

  .knowledge {
    margin: 0;

    h1 {
      font-size: 35px;
    }

    section {
      grid-template-columns: 1fr 1fr;

      i {
        font-size: 100px;
      }
    }
  }
}

@media (max-width: 600px) {
  .projects {
    margin: 0;
  }
}
